.blogLayoutContainer {
    margin: calc(var(--blog-side-margin) / 10) var(--blog-side-margin);
}

p {
    font-size: 14px;
    margin-left: 0;
}

code {
    background-color: #f7f5f5;
    display: block;
    word-break: break-word;
    white-space: pre-wrap;
    padding: 10px;
    border-radius: 10px;
}